body {
    background-color: #A4D4B4;
    margin: 0;
    padding: 0;
}

.main-navigator ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.main-navigator li {
    float: left;
}

.main-navigator a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}
li.nav{
    width: 33.3%;
    height: 120px;
    background-color: #CA054D;
    color: #FFCF9C;
    text-align: center;
    font-size: 50px;
}
li.nav:hover{
    background-color: #ac125a;
}
div.main-navigator{
    background-color: #3B1C32;
}