@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 120vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(0deg, #3B1C32 5%, #A4D4B4 98%);
    
}

.music-container {
    background-color: #FFCF9C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 100px;
    margin: auto;
    box-shadow: 0 20px 20px rgba(59, 28, 50, 0.3);
    width: 500px;
    height: 400px;
    padding: 10px;
}

.music-info {
    position: relative;
    float:left;
    top: 200px;
    left: 20px;
}

.cover {
    position: relative;
    right: 20px;
    bottom: 30px;
    float: right;
    height: 300px;
    width: 300px;
}

.music-navigation {
    margin-bottom: 100px;
    margin-left: 86.5px;
    margin-right: 86.5px;
}

a {
    text-decoration: none;
}

body .main-navigator ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body .main-navigator li {
    float: left;
}

body .main-navigator a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}

li.nav{
    width: 33.3%;
    height: 75px;
    background-color: #CA054D;
    color: #FFCF9C;
    text-align: center;
    font-size: 50px;
}

li.nav:hover{
   /* background-color: #ac125a;*/
   background-color: #CA054D;
}

div.main-navigator{
    background-color: #3B1C32;
}

button.action-btn{
    border-color: #B96D40;
    border-width: 5px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: whitesmoke;
}
div.info{
    color: #FFCF9C;
    border-radius: 20px;
    background-image: linear-gradient(0deg, #1f0718 30%, #3B1C32 98%);
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
button.nav{
    background: #3B1C32;
    color: #FFCF9C;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 48px;
}
button.nav:hover{
    background-color: #CA054D;
}
div.madeBy{
    background-color: #FFCF9C;
    border-radius: 20px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    color: #1f0718;
}
ul.madeBY{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li.madeBY{
    width: 33.3%;
    height: 100px;
}
button.madeBY{
    background-color:  #FFCF9C;
    border: none;
    color: #1f0718;
    width: 100%;
    height: 100%;
    font-size: 30px;
}
button.madeBY:hover{
    background-color: #1f0718;
    color: #FFCF9C;
    border-radius: 20px;
}
