body {
    background-color: #A4D4B4;
}

.main-navigator ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.main-navigator li {
    float: left;
}

.main-navigator a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}